.portfolioItemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolioItem {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.portfolioItem h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.portfolioItem img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.paused {
  animation-play-state: paused;
}
